#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  background-color: #000034;
  font-size: 1.2em;
}

#navbar .brand {
  font-weight: bold;
  color: #ffffff;
}

#navbar .nav-links {
  display: flex;
  gap: 1em;
}

#navbar a {
  color: #ffffff;
  text-decoration: none;
}

#navbar a:hover {
  text-decoration: underline;
}
